################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/env
/market_data_cache
*.png
*.csv
*.db
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.user
*.suo
*.userosscache
*.sln.docstates
*.pkl
*.xlsx
